@using MudBlazor

@inherits LayoutComponentBase



<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider Style="
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);" />

<div class="main-layout">
    <nav>
        <!-- Navigation links here -->
    </nav>
    
    <main>
        @Body
    </main>
</div>

